<div class="container mt-20">
  <div class="w-full flex flex-col gap-14 mx-auto">
    <div class="flex gap-4">
      <button class="btn" (click)="init()">Init Users</button>
      <button class="btn btn-accent" (click)="reIndex()">ReIndex Users</button>
    </div>
    <ul>
      <li>
        1.First click Init action list (after initial data init action is not
        valid)
      </li>
      <li>2.Then click ReIndex action for refetch data</li>
    </ul>
    <progress
      class="progress w-56 mx-auto"
      *ngIf="processing$ | async; else tableTmpl"
    ></progress>
    <ng-template #tableTmpl>
      <table class="table-auto table w-full">
        <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ | async">
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
